/* 通用 */
* {
  margin: 0;
  padding: 0;
  font-family: "Avenir Next", Helvetica, Arial, "Lantinghei SC", "Microsoft YaHei", sans-serif;
}
a {
  color: #000;
  text-decoration: none;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
  cursor: default;
}
body {
  min-width: 980px;
  overflow: hidden;
}
header {
  position: absolute;
  height: 60px;
  width: 100%;
  background: #03a9f4;
  box-shadow: 0 1px 3px #9e9e9e;
  z-index: 2;
}
header h1 {
  margin-left: 20px;
  font-size: 25px;
  line-height: 60px;
  color: #fff;
}
.content {
  position: absolute;
  top: 60px;
  bottom: 0;
  width: 100%;
}
.delete {
  font-size: 20px;
  float: right;
  color: #e57373;
}
.choose {
  position: relative;
  z-index: 2;
  background: #ffeb3b;
  border-radius: 5px;
  box-shadow: 1px 1px 3px #9e9e9e;
}
.add {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 27px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  box-sizing: border-box;
  background: #d50000;
  color: #fff;
  border-radius: 100%;
  box-shadow: 5px 5px 7px #9e9e9e;
}
.back {
  margin-left: -10px;
  border-left: 12px;
  width: 31px;
  height: 21px;
  border-image: url(../img/back.png) 8 8 10 24;
  font-size: 14px;
}
.back div {
  width: 31px;
  height: 21px;
  line-height: 21px;
  background: #FAFAFA;
}
/* type部分 */
.type {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  box-sizing: border-box;
  background: #eeeeee;
  z-index: 1;
  border-radius: 5px;
  width: 100%;
  padding-top: 7px;
}
.type:target {
  display: block;
}
.type-wrap {
  height: 100%;
  opacity: 0.87;
  overflow: scroll;
}
.type-wrap h2 {
  line-height: 45px;
  font-size: 18px;
  padding-left: 10px;
  font-weight: normal;
  border-bottom: 1px solid #9e9e9e;
}
.type-wrap h3 {
  line-height: 40px;
  font-size: 18px;
  padding-left: 25px;
  font-weight: normal;
  border-bottom: 1px solid #9e9e9e;
}
.type-wrap h4 {
  line-height: 35px;
  font-size: 16px;
  padding-left: 40px;
  font-weight: normal;
  border-bottom: 1px solid #9e9e9e;
}
/* task部分 */
.task {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  box-sizing: border-box;
  background: #f5f5f5;
  z-index: 1;
  border-radius: 5px;
  width: 100%;
}
.task:target {
  display: block;
}
.status {
  position: absolute;
  top: 0;
  height: 40px;
  width: 100%;
  padding: 7px 15px;
  font-size: 14px;
  box-sizing: border-box;
  border-radius: 5px 0 0 5px;
}
.status ul {
  margin-top: 10px;
}
.status li {
  float: left;
  line-height: 26px;
  padding: 0 5px;
}
.task-wrap {
  position: absolute;
  top: 80px;
  width: 100%;
  bottom: 0;
  overflow: scroll;
}
.task-wrap h5 {
  background: #eee;
  line-height: 30px;
  font-size: 14px;
  padding-left: 10px;
  font-weight: normal;
}
.task-wrap h6 {
  line-height: 25px;
  font-size: 14px;
  padding-left: 25px;
  font-weight: normal;
}
.task .icon-check {
  display: none;
}
.task-finish {
  color: #4caf50;
}
.task-finish .icon-check {
  position: relative;
  left: -20px;
  display: inline;
}
.task-finish span {
  position: relative;
  left: -20px;
}
/* details部分 */
.details {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  box-sizing: border-box;
  background: #ffffff;
  z-index: 1;
  border-radius: 5px;
  width: 100%;
}
.details:target {
  display: block;
}
.task-info {
  width: 100%;
  border-bottom: 1px solid #9e9e9e;
  background: #fafafa;
  line-height: 50px;
  padding: 7px 15px;
  box-sizing: border-box;
}
.task-title {
  height: 90px;
  border-radius: 5px 5px 0 0;
}
.task-date {
  height: 50px;
}
.set {
  float: right;
  font-size: 27px;
}
.task-content {
  position: absolute;
  top: 140px;
  bottom: 0;
  width: 100%;
  padding: 20px;
  background: #fff;
  box-sizing: border-box;
}
/* 弹窗部分 */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 9;
}
.pop {
  position: relative;
  display: none;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 250px;
  height: 250px;
  background: #fff;
  z-index: 10;
  border-radius: 5px;
}
.pop-title {
  position: relative;
  width: 100%;
  height: 30px;
  background: #ffeb3b;
  border-radius: 5px 5px 0 0;
}
.pop-close {
  position: absolute;
  top: 7px;
  left: 7px;
  background: #f44336;
  height: 12px;
  width: 12px;
  border-radius: 100%;
  border: 1px solid #d50000;
}
.pop-name {
  position: absolute;
  top: 0;
  left: 30px;
  font-size: 16px;
  line-height: 30px;
}
.pop-content {
  padding: 10px;
  font-size: 16px;
  line-height: 2.5;
}
.typeText {
  padding: 5px 7px;
  outline: none;
  border: 1px solid #d9d9d9;
  border-top-color: #c0c0c0;
  font-size: 14px;
  box-sizing: border-box;
  width: 120px;
  margin-left: 17px;
}
.typeText:focus {
  border: 1px solid #4d90fe;
}
.taskText {
  display: none;
  padding: 5px 7px;
  outline: none;
  border: 1px solid #d9d9d9;
  border-top-color: #c0c0c0;
  font-size: 14px;
  box-sizing: border-box;
}
.taskText:focus {
  border: 1px solid #4d90fe;
}
.mySelect {
  width: 120px;
  font-size: 18px;
  margin-left: 3px;
}
.mySelect option {
  font-size: 20px;
}
.myButton {
  width: 80px;
  height: 28px;
  background-color: #03a9f4;
  border-radius: 6px;
  color: #fff;
  padding: 6px 24px;
  border: none;
  outline: none;
  margin-left: 10px;
}
.btn1 {
  position: absolute;
  bottom: 15px;
  right: 30px;
}
.btn2 {
  position: absolute;
  bottom: 15px;
  right: 130px;
}
.btn3 {
  display: none;
  float: right;
  margin: 10px 20px 0 0;
}
.error {
  color: #d50000;
}
.input-error {
  border-color: #d50000;
}
.myTextArea {
  display: none;
  width: 100%;
  height: 200px;
  padding: 8px;
  font-size: 16px;
  -webkit-border-radius: 4px;
  outline: none;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-top-color: #c0c0c0;
  box-sizing: border-box;
}
.myTextArea:focus {
  border: 1px solid #42a5f5;
}
.taskError {
  display: none;
  color: #d50000;
  float: left;
  margin-top: 10px;
}
